.button {
  // font-family: $font-primary;
  // Positioning
  position: relative;

  // Display & Box Model
  border-radius: 1rem;
  border: 0;
  padding: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 400px;

  // Color
  background-color: $color-primary;
  color: $text-color-primary;

  // Text
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1;

  // Other

  &__answer {
    font-weight: 400;
    &--success {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 30px #51fc00;
      background-color: $color-correct;
      font-weight: 600;
    }
    &--fail {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 4px 30px $color-fail;
      background-color: $color-fail;
      font-weight: 600;
    }
    &--selected {
      font-weight: 600;
    }
  }
  &__icon {
    position: absolute;
    left: 8%; //check!
  }

  &--red {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 30px #ff0000;
    background-color: #ff0000;
    color: #fff;
    text-transform: uppercase;
    opacity: 0.8;
  }

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.99);
  }
}
