.section {
  display: grid;
  grid-template-columns: 465px 1fr;
  column-gap: 48px;
  &__wrapper {
    max-width: 1200px;
    &__buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}

.visual-box {
  // display: block;
  // margin: auto 0;
  // max-width: calc(505px - 40px);
  // padding: 0 50px 0 0;
  &__image {
    @extend .app__box;
    // display: inline-block;
    // max-width: 100%;
    // min-width: 411px;
    // max-height: 554px;
    // remove following prop if necessary
    // object-fit: fill;

    width: 100%;
    border-radius: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(4px 4px 40px rgba(255, 0, 0, 0.9));
  }
}

.mode-info {
  @extend .app__box;
  background-color: $color-primary;
  max-width: 1200px;
  text-align: center;
  border-radius: $border-radius;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    4px 4px 40px rgba(255, 0, 0, 0.9),
    inset 4px 5px 4px rgba(0, 0, 0, 0.5);

  &__heading {
    @extend .text__lg--centered;
    margin: 0;
    color: $text-color-primary;
  }
}

.rules {
  @extend .mode__container--active;
  padding: 20px 45px;
  &-header {
    @extend .text__lg--centered;
    font-weight: 500;
    margin: 0 0 15px;
  }
  &-icon {
    margin-right: 1rem;
  }
  &-text {
    @extend .text__md;
  }
}

.answers {
  display: flex;
  flex-wrap: wrap;
}

.answer__text {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0;
  padding: 0;
  text-align: center;
}

.button {
  @extend .text__lg--centered;
  // Positioning
  position: relative;
  flex-grow: 1;

  // Display & Box Model
  border-radius: $border-radius;
  border: 0;
  padding: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 575px;
  height: 2em;

  // Color
  background-color: $color-primary;
  color: $text-color-primary;

  // Other
  text-align: center;
  cursor: pointer;
  &__app {
    @extend .button;
    &--start {
      @extend .button--red;
      background: rgba(255, 0, 0, 1);
    }
  }

  &__answer {
    margin: 1rem;
    height: 2.5em;
    justify-content: space-between;
    font-weight: 400;
    background-color: $color-primary;
    flex-grow: 1;
    flex-basis: 40%;
    &--success {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 30px #51fc00;
      background-color: $color-correct;
      font-weight: 600;
    }
    &--fail {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        0px 4px 30px $color-fail;
      background-color: $color-fail;
      font-weight: 600;
    }
    &--selected {
      font-weight: 600;
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    left: 8%; //check!
    transform: translateY(-50%);
  }

  &--red {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 30px #ff0000;
    background-color: $color-fail;
    color: $color-primary;
    text-transform: uppercase;
  }

  &:hover {
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.99);
  }
}

.remaining-time {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 2rem;
  left: 0;
  padding: 0 90px 0 85px;

  &__counter {
    @extend .text__lg;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      4px 4px 40px rgba(255, 0, 0, 0.9);
    color: rgba(255, 0, 0, 0.8);
  }
}

.scores {
  @extend .mode__container--active;

  &__header {
    @extend .text__lg--centered;
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    margin: 0;
    font-weight: 500;
    &-icon {
      margin-right: 2rem;
    }
  }

  &__table {
    display: grid;
    padding-bottom: 3rem;
    margin: 0 3rem;
    grid-template-columns: 1fr 7fr 2fr;

    &-cell {
      @extend .text__md;
      padding: 0 1.25rem;
      margin: 0.5rem 0;

      &--bold {
        font-weight: 600;
      }
    }
  }
}

@include xlg {
  .section {
    grid-template-columns: 400px 1fr;
    display: none;
  }
}
@include lg {
  .section {
    // flex-wrap: wrap;
    grid-template-columns: 320px 1fr;
    &__wrapper {
      // flex-basis: 70%;
    }
  }

  .visual-box {
    // display: block;
    // flex-basis: 30%;
    // padding: 0 30px 0 0;
    // margin: auto 0;

    &__image {
      // min-width: unset;
      // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      //   drop-shadow(4px 4px 20px rgba(255, 0, 0, 0.9));
    }
  }
  .section__wrapper__buttons > .button {
    // height: auto;
    &:first-child {
      // margin: 0 20px 0 0;
    }
  }
}
@include md {
  .section {
    &__wrapper {
      // flex-basis: unset;
    }
  }

  .visual-box {
    // flex-basis: unset;
    // margin: 0 auto;
    // padding: 0;
    &__image {
      // max-height: 313px;
    }
  }
}
