.header {
  display: grid;
  grid-template-columns: 465px 1fr;
  column-gap: 48px;
  justify-content: space-between;
  align-items: center;
}
.starwars__logo {
  &__image {
    width: 100%;
  }
}

.menu {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  height: 180px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%),
    4px 4px 40px rgb(255 0 0 / 90%),
    inset 4px 5px 4px rgb(0 0 0 / 50%);
  &__button {
    @extend .text__lg;
    position: relative;
    border: none;
    padding: 20px 8px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.4);
    font-family: $font-primary;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    outline: none;
    cursor: pointer;
    &:hover {
      color: rgba(255, 0, 0, 0.796);
    }
    &--select {
      color: black;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 8px;
        border-radius: 4px;
        background: rgba(255, 0, 0, 1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
          4px 4px 20px rgba(255, 0, 0, 0.9);
      }
    }
  }
}

@include xlg {
  .header {
    grid-template-columns: 400px 1fr;
  }
  .menu {
    height: 140px;
    &__button {
      &--select {
        &::after {
          height: 4px;
        }
      }
    }
  }
}

@include lg {
  .header {
    grid-template-columns: 320px 1fr;
  }
  .menu {
    height: 120px;
  }
}

@include md {
  .header {
    height: 90px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%),
      2px 2px 20px rgb(255 0 0 / 90%),
      inset 2px 3px 2px rgb(0 0 0 / 50%);
    margin: 32px 0;
    display: flex;
    grid-template-columns: unset;
    column-gap: unset;
  }

  .starwars__logo {
    height: 90px;
    margin-left: 16px;
    &__image {
      padding: 8px 0;
      height: 100%;
      width: auto;
    }
  }

  .menu {
    height: 90px;
    background-color: unset;
    box-shadow: unset;
    border-radius: unset;
    &__button {
      &--select::after {
        height: 3px;
        bottom: 7px;
      }
      &:hover {
        color: unset;
      }
    }
  }
}

@include sm {
  .header {
    height: 50px;
    margin: 16px 0;
    border-radius: 8px;
  }
  .starwars__logo {
    height: 60px;
  }
  .menu {
    height: unset;
    &__button {
      color: unset;
      padding: 4px;

      &--select {
        &::after {
          height: 2px;
          bottom: 0px;
          box-shadow: 0px 2px 2px rgb(0 0 0 / 25%),
            2px 2px 10px rgb(255 0 0 / 90%);
        }
      }
    }
  }
}

@include xsm {
  .starwars__logo {
    height: auto;
    position: absolute;
    z-index: -1;
    bottom: 0;
    opacity: 0.2;
    margin: unset;
    &__image {
      height: unset;
      width: 100%;
      padding: unset;
    }
  }
}
