.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 50px;
}
.starwars__logo {
  text-align: center;
  display: flex;
  
  &__image {
    align-self: center;
    height: 80%;
  }
}

.menu {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  height: 180px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    4px 4px 40px rgba(255, 0, 0, 0.9);
  &__button {
    @extend .text__lg;
    position: relative;
    border: none;
    padding: 20px 8px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.4);
    font-family: $font-primary;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 600;
    outline: none;
    cursor: pointer;
    &--select {
      color: black;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 8px;
        border-radius: 4px;
        background: rgba(255, 0, 0, 1);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
          4px 4px 20px rgba(255, 0, 0, 0.9);
      }
    }
  }
}

@include lg {
  .header {
    height: 120px;
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 40px;
    margin: 0 0 25px;
  }
  .starwars__logo {
    height: 100%;
    max-width: 300px;
    background-size: contain;
  }
  .menu {
    justify-content: space-between;
    background-color: transparent;
    box-shadow: none;
    border-radius: 16px;
  }
}

@include md {
  .header {
    padding: 0 20px 0 10px;
    height: 90px;
  }

  .starwars__logo {
    max-width: 200px;
    height: 90px;
    margin: 0 20px 0 0;
  }

  .menu {
    height: auto;
    &__button {
      &--select::after {
        height: 6px;
      }
    }
  }
}

@include sm {
  .header {
    // flex-direction: column;
    margin: 0 0 15px;
  }
  .starwars__logo {
    width: 100px;
  }
  .menu {
    flex-basis: 60%;
    flex-grow: unset;
  }
}
