body > div {
  padding: 52px 85px 52px 90px;
  max-width: 1920px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 52px;
}
.section {
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px;
  &__wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    max-width: 1200px;
    &__buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}
