.header {
  display: flex;
  justify-content: space-evenly;
}
.section {
  display: flex;
  justify-content: space-between;
  // margin: 0 0 50px;
  &__wrapper {
    max-width: 1200px;
    &__buttons {
      display: flex;
      justify-content: space-between;
    }
  }
}
