.container {
  width: 1200px;
  height: 180px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    4px 4px 40px rgba(255, 0, 0, 0.9);
  position: absolute;
  right: 20px;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .option {
    text-align: center;
    font-size: 42px;
    color: gray;
    font-weight: 600;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding-bottom: 20px;
    font-family: $font-primary;
  }
  .select_option {
    color: black;
    border-bottom: 6px solid rgba(255, 0, 0, 0.5);
  }
}
