//MODAL
.modal {
  // Positioning /
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  // Display & Box Model /
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // Color /
  background-color: rgba(0, 0, 0, 0.8);
  &__container {
    // Display & Box Model /
    height: 889px;
    max-width: 1200px;
    border-radius: $border-radius;
    padding: 48px 64px;
    display: flex;
    flex-direction: column;
    // Color /
    background: $color-primary;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      4px 4px 40px rgba(255, 0, 0, 0.9);
    // Text /
    text-align: left;
  }
  &__heading {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    line-height: 3.25rem;
  }
  &__text {
    margin: 16px 0;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2.125rem;
    text-align: justify;
  }
}

.details {
  margin-left: 285px;
  height: 355px;
  padding-top: 12px;
  position: relative;
  z-index: 2;
  &__heading {
    margin-bottom: 4px;
    margin-left: 50px;
    font-weight: 600;
    font-size: 1.625rem;
  }
  &__table {
    height: 40%;
    font-size: 1.5rem;
    font-weight: 600;
    & tbody,
    & thead tr {
      display: block;
    }
    & thead {
      padding-left: 180px;
    }
    & tbody {
      height: 250px;
      border-spacing: 16px 32px;
      overflow-y: scroll;
      overflow-x: hidden;
      vertical-align: middle;
    }
    & th:first-of-type,
    & td:first-of-type {
      padding: 0 30px;
    }
    & td:first-of-type {
      width: 125px;
    }
    & th:first-of-type {
      width: 160px;
    }
    & td,
    & th {
      width: 206px;
    }
    &__head {
      font-weight: 600;
      color: rgba(0, 0, 0, 0.6);
    }
    &__image {
      position: relative;
      & img {
        z-index: 1;
        width: 65px;
        height: auto;
        border-radius: $border-radius;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
          drop-shadow(4px 4px 20px rgba(255, 0, 0, 0.9));
      }
    }
    &__answer {
      color: $text-color-primary;
      &--correct {
        color: rgba(87, 181, 13, 0.6);
      }
      &--incorrect {
        color: rgba(255, 0, 0, 0.6);
      }
    }
  }
}

.player-form {
  display: flex;
  padding: 32px 0;
  &__image {
    position: absolute;
    top: -322px;
    left: 12px;
    z-index: 1;
    height: 322px;
  }
  &__item {
    position: relative;
    display: inline-block;
    line-height: 44px;
  }
  &__input {
    height: 80px;
    padding-left: 24px;
    border: 4px solid #c4c4c4;
    border-radius: 8px;
    font-size: $font-size-secondary;
    font-weight: 400;
    &:focus {
      outline-style: none;
      border-color: #f33;
    }
  }
  &__label {
    padding: 0 28px;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2.125rem;
  }
  &__button {
    margin-top: 40px;
    max-width: unset;
    width: 700px;
    height: unset;
    align-self: center;
    font-weight: 500;
    font-size: $font-size-secondary;
    line-height: 2.75rem;
    flex-grow: unset;
  }
}

@include xlg {
  .modal {
    &__container {
      height: calc(100% - 124px);
      max-width: unset;
      width: calc(100% - 124px);
      padding: 32px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__heading {
      font-size: 32px;
    }
    &__text {
      font-size: 24px;
      margin: 0;
    }
  }
  .details {
    margin-left: 20%;
    padding-top: 0;
    min-height: 200px;
    &__heading {
      font-size: 24px;
      margin: 16px 0 8px 0;
      text-align: left;
      padding-left: 16px;
    }
    &__table {
      border-collapse: collapse;
      display: block;
      height: calc(100% - 62px);
      overflow-y: scroll;
      & tbody {
        display: table-row-group;
      }
      & thead tr {
        display: table-row;
      }
      & thead {
        padding-left: unset;
      }
      & tbody {
        height: unset;
        border-spacing: unset;
      }
      & th {
        display: table-cell;
      }
      & th:first-of-type,
      & td:first-of-type {
        padding: 4px 4px 4px 16px;
        text-align: left;
      }
      & td,
      & th {
        width: 30%;
        padding: 8px;
      }
      &__image {
        & img {
          border-radius: 8px;
          filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25))
            drop-shadow(2px 2px 8px rgba(255, 0, 0, 0.9));
        }
      }
    }
  }
  .player-form {
    padding: 0;
    &__item,
    &__label {
      flex: 1;
    }
    &__input {
      height: 64px;
      padding-left: 12px;
      font-size: 24px;
      width: 100%;
    }
    &__label {
      font-size: 24px;
      padding: 0 0 0 16px;
    }
    &__button {
      margin-top: 16px;
      width: 100%;
      font-size: 24px;
      line-height: 32px;
      border-radius: 8px;
    }
    &__image {
      height: 200px;
      top: -200px;
    }
  }
}

@include lg {
  .details {
    height: calc(100% - 18rem);
    &__table {
      &__head {
        font-size: 1.125rem;
      }
      &__answer,
      &__answer--correct,
      &__answer--incorrect {
        font-size: 1.125rem;
      }
      &__image {
        min-width: 100px;
      }
    }
  }
  .player-form {
    &__label {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

@include md {
  .modal {
    &__container {
      height: calc(100% - 120px);
      max-width: unset;
      width: calc(100% - 120px);
    }
    &__text {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
  .details {
    &__heading {
      font-size: 1.25rem;
    }
    &__table {
      & td,
      th {
        padding: 4px;
      }
    }
  }
  .player-form {
    &__label,
    &__input {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    &__label {
      line-height: 1.4;
    }
    &__image {
      height: 160px;
      top: -160px;
    }
  }
}

@include sm {
  .modal {
    &__container {
      height: calc(100% - 80px);
      max-width: unset;
      width: calc(100% - 80px);
    }
  }
  .details {
    margin-left: 0;
    &__table {
      transform: translate(-16px);
      width: calc(100% + 16px);
      & th:first-of-type,
      & td:first-of-type {
        text-align: left;
        padding-left: 16px;
      }
      &__answer,
      &__answer--correct,
      &__answer--incorrect {
        font-size: 1rem;
      }
    }
    &__heading {
      padding-left: 0;
    }
  }
  .player-form {
    flex-wrap: wrap-reverse;
    &__label,
    &__input {
      flex-basis: 100%;
    }
    &__label {
      padding: 0 0 12px 0;
      text-align: center;
      display: none;
    }
    &__image {
      left: unset;
      right: 20px;
      opacity: 0.5;
      z-index: 1;
    }
  }
}

@include xsm {
  .modal {
    &__heading {
      line-height: 1;
      padding-bottom: 0.25rem;
    }
    &__container {
      height: calc(100% - 48px);
      max-width: unset;
      width: calc(100% - 48px);
      padding: 24px;
    }
    &__text {
      font-size: 1rem;
      line-height: 1.5;
    }
  }
  .details {
    &__heading {
      text-align: left;
      font-size: 1.125rem;
    }
  }
  .player-form {
    &__input {
      height: 43px;
    }
    &__button {
      font-size: 1.125rem;
      line-height: 1.5;
      padding: 8px;
    }
    &__image {
      display: none;
    }
  }
}

