.rules {
  @extend .mode__container--active;
  padding: 20px 45px;
  &-header {
    @extend .text__lg--centered;
    font-weight: 500;
    margin: 0 0 15px;
  }
  &-icon {
    margin-right: 1rem;
  }
  &-text {
    @extend .text__md;
  }
}