.rules {
  @extend .mode__container--active;
}

.rules-header {
  font-weight: 500;
  font-size: $font-size-primary;
  text-align: center;
}

.rules-icon {
  margin-right: 1rem;
}

.rules-text {
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  font-weight: 500;
  font-size: $font-size-secondary;
}
