/* Positioning /
/ Display & Box Model /
/ Color /
/ Text /
/ Other */

/* FOR THE TABLE - TODO */
// .modal tbody, .modal thead tr { display: block; }
// .modal tbody {
    // height: 120px;
    // overflow-y: auto;
    // overflow-x: hidden;
// }
// .modal th:first-of-type {
//     width: 100px;
// }
// .modal tbody td, .modal thead th {
//     width: 200px;
// }

.modal {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.8);
    // & tbody, & thead tr {
    //     display: block;
    // }
    // & tbody {
    //     height: 240px;
    //     overflow-y: auto;
    //     overflow-x: hidden;
    // }
    // & th:first-of-type, & td:first-of-type {
    //     width: 100px;
    // }
    // & tbody td, & thead th {
    //     width: 206px;
    //     padding: .5rem 0;

    // }
    &__container {
        // height: 77%;
        height: 889px;
        // width: 59%;
        width: 1200px;
        border-radius: 16px;
        padding: 3rem 4rem;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
        text-align: left;
    }
    &__heading {
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        line-height: 51px;
        // font-weight: 600;
        // font-size: $font-size-primary;
    }
    &__text {
        margin: 1rem 0;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
    }
}

.details {
    margin-left: 332px;
    height: 355px;
    padding-top: .75rem;
    &__heading {
        margin-bottom: .2rem;
        font-weight: 600;
        font-size: 26px;
    }
    &__table {
        height: 30%;
        font-size: 24px;
        font-weight: 600;
        // overflow-y: scroll;
        // border-collapse: collapse;
        & tbody, & thead tr {
            display: block;
        }
        & thead {
            vertical-align: top;
        }
        & tbody {
            height: 240px;
            overflow-y: scroll;
            // overflow-x: hidden;
            border-spacing: 0 1rem ;
            vertical-align: middle;
        }
        & tbody tr:first-of-type {
            // margin-bottom: 1rem;
            
        }
        & th:first-of-type, & td:first-of-type {
            width: 100px;
            // vertical-align: top;
        }
        & tbody td, & thead th {
            width: 206px;
            // vertical-align: middle;
        }
        & tbody td {
            // padding: .25rem 0;
        }
        & thead th {
            // padding: .5rem 0 0 0;
        }
        &__head {
            font-weight: 600;
            color: rgba(0, 0, 0, 0.6);
            &--empty{
                width: 50px;
            }
        }
        &__body {

        }
        &__image {
            position: relative;
            // width: 65px;
            // height: 86px;
            // width: 65x;
            // padding-bottom: 1rem;
            // overflow: hidden;
            // transform: matrix(-1, 0, 0, 1, 0, 0);
            // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(4px 4px 40px rgba(255, 0, 0, 0.9));
            & img {
                z-index: 1;
                width: 65px;
                height: auto;
                // display: block;
                // margin: 0 auto;
                // filter: none;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(4px 4px 40px rgba(255, 0, 0, 0.9));
                border-radius: $border-radius;
                transform: matrix(-1, 0, 0, 1, 0, 0);
            }
        }
        &__answer {
            color: $text-color-primary;
            &--correct {
                color: rgba(87, 181, 13, 0.6);
            }
            &--incorrect {
                color: rgba(255, 0, 0, 0.6);
            }
        }
    }
    &__image{
        height: 3rem;
        width: auto;
        overflow: hidden;
        &__container {
            width: 50px;
        }
    }
}

.player-form {
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
    &__image {
        position: absolute;
        // bottom: 5rem;
        top: -322px;
        left: 12px;
        z-index: 1;
        height: 322px;
    }
    &__item {
        position: relative;
        display: inline-block;
        line-height: 44px;
    }
    &__input {
        padding-left: 1.5rem;
        height: 5rem;
        border: 4px solid #C4C4C4;
        border-radius: 8px;
        font-size: $font-size-secondary;
        font-weight: 400;
    }
    &__label {
        padding: 0 1.75rem;  
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
    }
    &__button {
        margin-top: 2.5rem;
        width: 700px;
        align-self: center;
        font-weight: 500;
        font-size: $font-size-secondary;
        line-height: 44px;
    }
}
