.scores {
  @extend .mode__container--active;

  &__header {
    @extend .text__lg--centered;
    display: flex;
    justify-content: center;
    padding: 1.25rem;
    margin: 0;
    font-weight: 500;
    &-icon {
      margin-right: 2rem;
    }
  }

  &__table {
    display: grid;
    padding-bottom: 3rem;
    margin: 0 3rem;
    grid-template-columns: 1fr 7fr 2fr;

    &-cell {
      @extend .text__md;
      padding: 0 1.25rem;
      margin: 0.5rem 0;

      &--bold {
        font-weight: 600;
      }
    }
  }
}
