// Fonts
$font-primary: 'Montserrat', sans-serif;

// rwd breakpoints
$breakpoint-xxs-max: 375px;
$breakpoint-xs-max: 575px;
$breakpoint-sm-max: 767px;
$breakpoint-md-max: 991px;
$breakpoint-xl-max: 1264px;
$breakpoint-xxl-max: 1480px;

// Colors
$color-primary: #fff;
$color-fail: #f00;
$color-correct: #41ed25;

// Text Color
$text-color-primary: #000;
$text-color-secondary: #fff;

// Fonts sizes
$font-size-primary: 38px;
$font-size-secondary: 32px;

// Border
$border-radius: 16px;
