// Fonts
$font-primary: 'Montserrat', sans-serif;

// rwd breakpoints
$breakpoint-sm-max: 767px;
$breakpoint-md-max: 1199px;

// Colors
$color-primary: #FFF;
$color-fail: #F00;
$color-correct: #41ED25;

// Text Color

$text-color-primary: #000;
$text-color-secondary: #FFF;
