*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  height: 100%;
  min-height: 100vh;
  background-image: url('../static/assets/ui/QuizBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  // flex-basis: 100%;
  // flex: 1;
}

.mode__container--active {
  max-height: 350px;
  height: 100%;
  padding: 1.25rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: $border-radius;
  background-color: $color-primary;
}
