*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  height: 100%;
  min-height: 100vh;
  background: url('../static/assets/ui/QuizBackground.png') center;
  background-size: cover;
}

// body > div {
//   padding: 52px 85px 52px 90px;
//   max-width: 1920px;
//   margin: 0 auto;
// }

.app__box {
  // margin: 0 0 40px;
  @include lg {
    // margin: 0 0 20px;
  }
  @include sm {
    // margin: 0 0 10px;
  }
}

.mode__container--active {
  @extend .app__box;
  overflow: auto;
  // max-height: 350px;
  height: 100%;
  margin: 48px 0;
  padding: 48px;
  border-radius: $border-radius;
  background-color: $color-primary;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 30px #ff0000;
}

.mode-info__heading {
  padding: 25px 16px 22px;
}

.text__md {
  font-size: $font-size-secondary;
  font-weight: 500;
  line-height: 133%;
}
.text__lg {
  font-size: $font-size-primary;
  font-weight: 600;
  line-height: 123%;
  &--centered {
    @extend .text__lg;
    text-align: center;
  }
}

#swquiz-app {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

@include lg {
  body > div {
    padding: 25px 20px 25px 20px;
  }
  .text {
    &__md,
    &__lg {
      font-size: $font-size-secondary / 1.5;
    }
  }

  .mode__container--active {
    height: auto;
  }
}
@include md {
  .text {
    &__md,
    &__lg {
      font-size: $font-size-secondary / 1.75;
    }
  }
}

@include sm {
  body > div {
    padding: 15px 10px 15px 10px;
  }
  #swquiz-app {
    padding: 0 16px;
  }
  .text {
    &__md,
    &__lg {
      font-size: $font-size-secondary / 2;
    }
  }
}
