*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  height: 100%;
  min-height: 100vh;
  background-image: url('../static/assets/ui/QuizBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
